<webobject name="BoolHasFieldsForLevel">

	<div class="elem_result">
	<h3><webobject name="CollapserALink">
		<webobject name="CollapserALinkTitle"></webobject>
	</webobject></h3>
	</div>

	<webobject name="ContentBox">
	
		<webobject name="ListFieldForLevel">
		
			<div class="headingtitle"><webobject name="FieldLevelLabel"></webobject> : </div>
			
			<div class="detailbox">
			<webobject name="BoolFieldTitle">
				<h4><webobject name="CurrentFieldLevelValue"></webobject></h4>
			</webobject>
			<webobject name="BoolFieldNoTitle">
				<webobject name="CurrentFieldLevelValue"></webobject>
			</webobject>
				
				<webobject name="BoolHasSubFields">
					<webobject name="ListSubFields">
						<div class="smallheadingtitle"><webobject name="SubFieldLabel"></webobject> : </div>
						
						<div class="smalldetailbox">
							<webobject name="BoolIsSubFieldAList">
								<webobject name="ValueSubFieldAsList">
									<webobject name="ElementValue"></webobject><br/>
								</webobject>
							</webobject>
							
							<webobject name="IsSubFieldMailto">
								<webobject name="ValMailSubField"></webobject>
							</webobject>
							
							<webobject name="BoolIsSubFieldSimpleString">
								<webobject name="SimpleSubFieldValue"></webobject>
							</webobject>
						</div>
						<br/>
					</webobject>
				</webobject>
				
			</div>
		<br/>
		</webobject>
	</webobject>

</webobject>

<div class="headingtitle"><webobject name="LabelMembers"></webobject> : </div>
<div class="centeredDiv"><webobject name="AlphaFilter"></webobject></div><br/><br/>
<webobject name="ObjectsNavBar"></webobject>
<webobject name="TableChildren"></webobject>