<div class="browser">

<span><h2 class="element_ident"><webobject name="ItemIdentification"></webobject></h2></span>

<div class="headingtitle"><webobject name="LMailAlias"></webobject> : </div>
<div class="detailbox"><webobject name="ValMailAlias"></webobject></div> 

<div class="headingtitle"><webobject name="LFunctions"></webobject> : </div>
<div class="detailbox"><webobject name="ValFunctions"></webobject></div>

<div class="headingtitle"><webobject name="LMembers"></webobject> : </div>
<webobject name="FormNavObjects">
	<webobject name="ObjectsNavBar"></webobject>
	<webobject name="TableChildren"></webobject>
</webobject>

</div>
 