SAUT_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/
#SAUT_ID_TRANSLATION=ULOGIN:ULOGINF,GRHUM:GRHUMF
SAUT_ID_TRANSLATION=ULOGIN:GRHUM,GRHUM:GRHUM,PHOTO:PHOTO

CAS_SERVICE_URL=https://apps.univ-lr.fr/cas
CAS_USE_CAS=YES
APP_USE_CAS=YES

APP_ADMIN_PASSWORD=vQNSjay9O.rZM
ETAB_URL=http://www.univ-larochelle.fr

#URL_APP_PROFIL=http://HOSTNAME/cgi-bin/WebObjects/Profil

ROOT_DIPLOMES=16368

STRUCT_ROOT_SERVICES=1

# quels droits jefydmin pour voir les contrats(un seul a la fois)
JEFYADMIN_DROIT_CONVENTIONS=CONV

# quels droits jefydmin pour voir les fournisseurs et clients (un seul a la fois)
# pour les fournisseurs quel colonne de la vue GRHUM.V_AGENT_FOURNISSEUR doit etre à 1 pour autoriser les fournisseurs dans Directory ? (syntaxe eomodeler)
#JEFYADMIN_DROIT_FOURNIS=ANFOUCS
JEFYADMIN_DROIT_FOURNIS=agtFoucons

ENTITY_PHOTO_EMPLOYE=PhotosEmployesGrhum

# ne pas retravailler les chaines issues de la BD : exemple nom_usuel capitalisŽ etc
KEEP_DISPLAY_STRING_UNCHANGED=false

HELP_RESOURCE_LINK=http://docs.google.com/View?id=dc5xsb7s_0dsntz5c5

MAIL_REACTION=dt.annuaire@univ-lr.fr

ACTIVER_AFFICHAGE_FONCTION=false
ACTIVER_AFFICHAGE_QUALITE=true
ACTIVER_AFFICHAGE_CATEGORIE_SUPANN=true
ACTIVER_RECHERCHE_PAR_FONCTION=false

ACTIVER_AGENDA_ETUDIANT=true
ACTIVER_AGENDA_PERSONNEL=true


#nombre minimum de caracteres obligatoires pour executer la recherche
MIN_CARACTERES_RECHERCHE=3

# limiter le nombre de lignes de rŽsultat pour une recherche dans l'annuaire ˆ cette valeur
LIMITE_RESULTATS_RECHERCHE=30

# limiter le nombre de recherches effectuŽes par une mme adresse ip ˆ cette valeur
LIMITE_NOMBRE_RECHERCHES=-1

# Si LIMITE_NOMBRE_RECHERCHES est atteinte, faire attendre cette valeur en minutes
MINUTES_ATTENTE_LIMITE_RECHERCHE=-1

MAIN_MODEL_NAME=Directory

REDIRECTION_EMAIL=philippe.berger@univ-lr.fr
SEND_ERRORS_EMAIL=philippe.berger@univ-lr.fr

LOG_SQL=NO

# quelles traces java afficher : LOG_ALL | LOG_EXCEPTIONS | LOG_NOTHING
JAVA_LOGGING_MODE=LOG_ALL

# certains elements ne sont charges qu'une fois pour ameliorer les performances...
USE_FETCH_BUFFERS=true

# La vue qui sert a rechercher les individus dans l'annuaire des employes
# valeurs possibles : V_PERSONNEL_ACTUEL,V_LDAP_PERSONNEL_ACTUEL,NONE
VIEW_SEARCH_EMPLOYES=V_PERSONNEL_ACTUEL

ENABLE_GLOBAL_SEARCH=false

LIST_SUPPORTED_LOCALES=Francais-French|English-English|Espanol-Spanish|Deutch-German

# afficheur d'ICS en ligne Mozilla
URL_ONLINE_ICS_VIEWER=http://handler-test.mozilla.org/webcal?url=

#StudentsDirectory
DISPLAYED_DIRECTORIES=EmployeesDirectory|SuppliersDirectory|GroupsDirectory|ConventionsDirectory|StudentsDirectory

# Pour chaque directory choisi ci dessus, on peut retirer des pathways (des sous-rubriques d'annuaire)
# valeurs possibles : login, restricted et open
EmployeesDirectory=PathwayDepartment*login
SuppliersDirectory=PathwaySupplier*restricted|PathwaySupplierPerson*restricted
StudentsDirectory=PathwayFormation*login|PathwayElectedStudents*login
GroupsDirectory=PathwayMailGroup*login
ConventionsDirectory=PathwayTypeContrat*restricted

# Gestion de la visibilite des annuaires et sous-annuaires (parce qu'a Paris5 et Cachan c'est pas la meme politique)
EmployeesDirectory.visibility=login
StudentsDirectory.visibility=login
GroupsDirectory.visibility=login
ConventionsDirectory.visibility=restricted
SuppliersDirectory.visibility=restricted
