<div class="browser">

<span>
<h2 class="element_ident"><webobject name="ItemIdentification"></webobject></h2>
</span>

<webobject name="BoolPhoto">
	<div id="photo_empl"> 
		<webobject name="Photo"></webobject>
	</div>
</webobject>

<br/>


<div>
	<table class="filesdisplay">
	<tr>
		<th> <div class="heading"><webobject name="HEmail"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="HAdress"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LAdrInternet"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LQuality"></webobject> </div> </th>
		<webobject name="IsDispSupannCategory">
		<th> <div class="heading"><webobject name="LCategory"></webobject> </div> </th>
		</webobject>
	</tr>
	<tr>
		<td>
			<webobject name="ValMail"></webobject>
		</td>
		<td>
			<webobject name="LinesAdress">
				<webobject name="ElemAdress"></webobject>
			</webobject>
		</td>
		<td>
			<webobject name="LinesURL">
				<webobject name="ElemURL"></webobject> <br/>
			</webobject>
		</td>
		<td>
			<webobject name="ValQuality"></webobject>
		</td>
		<td>
			<webobject name="ValCategory"></webobject>
		</td>
	</tr>
</table>


</div>


<br/>
<br/>

<webobject name="IsProfil">
	<div>
	Activation de compte, changement de mot de passe et modification d'informations : <webobject name="LinkProfil">application Profil</webobject>
	</div>
	<br/>
	<br/>
</webobject>


<div class="headingtitle"><webobject name="LDepartLabs"></webobject> :</div>
<webobject name="TableOfServices"></webobject>
</div>
 