{
    attributes = (
        {
            columnName = "ADRESSE_INTERNE"; 
            externalType = VARCHAR2; 
            name = adresseInterne; 
            valueClassName = NSString; 
            valueType = S; 
            width = 32; 
        }, 
        {
            allowsNull = Y; 
            columnName = APPELLATION; 
            externalType = VARCHAR2; 
            name = appellation; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            columnName = "C_LOCAL"; 
            externalType = VARCHAR2; 
            name = cLocal; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = "D_CREATION"; 
            externalType = DATE; 
            name = dCreation; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "D_DEB_VAL"; 
            externalType = DATE; 
            name = dDebVal; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "D_FIN_VAL"; 
            externalType = DATE; 
            name = dFinVal; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "D_MODIFICATION"; 
            externalType = DATE; 
            name = dModification; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "ID_ADRESSE_ADMIN"; 
            externalType = NUMBER; 
            name = idAdresseAdmin; 
            precision = 7; 
            valueClassName = NSNumber; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (
        cLocal, 
        idAdresseAdmin, 
        adresseInterne, 
        appellation, 
        dDebVal, 
        dFinVal, 
        dCreation, 
        dModification
    ); 
    className = "org.cocktail.directory.eof.server.EOLocal"; 
    classProperties = (
        idAdresseAdmin, 
        adresseInterne, 
        appellation, 
        dDebVal, 
        dFinVal, 
        dCreation, 
        dModification
    ); 
    externalName = LOCAL; 
    fetchSpecificationDictionary = {}; 
    name = Local; 
    primaryKeyAttributes = (cLocal); 
}
