{
    attributes = (
        {
            columnName = "ASS_ID"; 
            externalType = NUMBER; 
            name = assId; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            definition = "association.assLibelle"; 
            externalType = VARCHAR2; 
            name = assLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 500; 
        }, 
        {
            columnName = "C_STRUCTURE"; 
            externalType = VARCHAR2; 
            name = cStructure; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "PERS_ID"; 
            externalType = NUMBER; 
            name = persId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RAS_COMMENTAIRE"; 
            externalType = VARCHAR2; 
            name = rasCommentaire; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2000; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RAS_D_FERMETURE"; 
            externalType = DATE; 
            name = rasDFermeture; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RAS_D_OUVERTURE"; 
            externalType = DATE; 
            name = rasDOuverture; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "RAS_ID"; 
            externalType = NUMBER; 
            name = rasId; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "RAS_RANG"; 
            externalType = NUMBER; 
            name = rasRang; 
            valueClassName = NSNumber; 
            valueType = d; 
        }
    ); 
    attributesUsedForLocking = (
        rasId, 
        persId, 
        cStructure, 
        assId, 
        rasRang, 
        rasCommentaire, 
        rasDOuverture, 
        rasDFermeture, 
        assLibelle
    ); 
    className = "org.cocktail.directory.eof.server.EORepartAssociation"; 
    classProperties = (
        persId, 
        rasRang, 
        rasCommentaire, 
        rasDOuverture, 
        rasDFermeture, 
        association, 
        structureUlr, 
        assLibelle
    ); 
    externalName = "REPART_ASSOCIATION"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            persId, 
            rasRang, 
            rasCommentaire, 
            rasDOuverture, 
            rasDFermeture, 
            association, 
            structureUlr, 
            assLibelle
        ); 
    }; 
    name = RepartAssociation; 
    primaryKeyAttributes = (rasId); 
    relationships = (
        {
            destination = Association; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = assId; sourceAttribute = assId; }); 
            name = association; 
        }, 
        {
            destination = StructureUlr; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = cStructure; sourceAttribute = cStructure; }); 
            name = structureUlr; 
        }
    ); 
}
