{
    attributes = (
        {
            columnName = "NO_DOSSIER_PERS"; 
            externalType = NUMBER; 
            name = noDossierPers; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (noDossierPers); 
    className = "org.cocktail.directory.eof.server.EOVPersonnelActuel"; 
    classProperties = (noDossierPers); 
    externalName = "GRHUM.V_PERSONNEL_ACTUEL"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (noDossierPers); }; 
    name = VPersonnelActuel; 
    primaryKeyAttributes = (noDossierPers); 
}
