<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fr">
	<body>
		
	<webobject name="Div">

		<webobject name="IsExcep">
			<h3><webobject name="TError"></webobject></h3>
			<p><webobject name="TErrorMsg"></webobject></p>
		</webobject>
		
		<webobject name="IsError">
			<p><webobject name="TMsg"></webobject></p>
		</webobject>

		<webobject name="IsInfo">
			<p><webobject name="TMsg"></webobject></p>
		</webobject>
		
		<br/>
		
		<webobject name="IsLinkToMain">
			<span><webobject name="LinkMain"><webobject name="TReturn"></webobject></webobject></span>
		</webobject>
		
	</webobject>
		
	</body>
</html>