<div class="browser">

<span>
<h2 class="element_ident"><webobject name="ItemIdentification"></webobject></h2>
</span>

<br/>
<br/>

	<table class="filesdisplay">
	<tr>
		<th> <div class="heading"><webobject name="LTel"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LFax"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LAdress"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LAdrInternet"></webobject> </div> </th>
		<th> <div class="heading"><webobject name="LSiret"></webobject> </div> </th>
	</tr>
	<tr>
		<td>
			<webobject name="LinesTel">
				<webobject name="ElemTel"></webobject> <br/>
			</webobject>
		</td>
		<td>
			<webobject name="LinesFax">
				<webobject name="ElemFax"></webobject> <br/>
			</webobject>
		</td>
		<td>
			<webobject name="LinesAdress">
				<webobject name="ElemAdress"></webobject> <br/>
			</webobject>
		</td>
		<td>
			<webobject name="LinesURL">
				<webobject name="ElemURL"></webobject> <br/>
			</webobject>
		</td>
		<td><webobject name="ValueSiret"></webobject></td>
	</tr>
	</table>

<br/>
<br/>

<div class="headingtitle"><webobject name="LRIB"></webobject> : </div>
<center>
<div class="detailbox">
	<table class="tdata">
	<tr>
		<th><webobject name="LCBanque"></webobject></th>
		<th><webobject name="LCGuichet"></webobject></th>
		<th><webobject name="LNoCompte"></webobject></th>
		<th><webobject name="LCleRib"></webobject></th>
		<th><webobject name="LBIC"></webobject></th>
		<th><webobject name="LIBAN"></webobject></th>
		<th><webobject name="LRibTitulaire"></webobject></th>
		<th><webobject name="LModePaie"></webobject></th>
	</tr>
	<webobject name="LoopRibs">
	<tr>
		<td>
		<webobject name="RibBanque"></webobject></td>
		<td><webobject name="RibGuichet"></webobject></td>
		<td><webobject name="RibCompte"></webobject></td>
		<td><webobject name="RibCle"></webobject></td>
		<td><webobject name="RibBIC"></webobject></td>
		<td><webobject name="RibIban"></webobject></td>
		<td><webobject name="RibTitulaire"></webobject></td>
		<td><webobject name="RibModeCode"></webobject></td>
	</tr>
	</webobject>
	</table>

</div>
</center>

<br/>
<br/>

<div class="headingtitle"><webobject name="LFouContacts"></webobject> :</div>
<webobject name="TableContacts"></webobject>


</div>