<webobject name="GlobalContainer">
	<webobject name="LoopDirectories"><webobject name="Directory">	
		
		<webobject name="UseHyperLink">
			<webobject name="IsRegularDir">
				<webobject name="DirectoryURL"></webobject>
			</webobject>

			<webobject name="IsExternalDir">
				<webobject name="ExtDirectoryURL"></webobject>
			</webobject>
			
		</webobject>
		
		<webobject name="UseNoHyperLink">
			<!--  span class="directorytitle"><webobject name="DirectoryTitle"></webobject></span -->
			<webobject name = "SpanListOneDirectory"> <webobject name="DirectoryTitle"></webobject> </webobject>
		</webobject>
		
		
		<!--  
		<span class="directorysubtitle">
			<webobject name="DirectorySubTitle" />
		</span>
		-->
		
		
		<webobject name="BoolHasPathways">
			<webobject name="PathwayContainer">
				<webobject name="LoopPaths">
					<webobject name="SpecificPathURL"></webobject>
				</webobject>
			</webobject>
		</webobject> 

	</webobject>
	</webobject>
	<hr class="spacer"/>
</webobject>
