<div class="browser">
	<span><h2 class="element_ident"><webobject name="ItemIdentification"></webobject></h2></span><br/>
	
	<div class="headingtitle"><webobject name="LExercice"></webobject> :</div>
	<div class="detailbox"><webobject name="ValExercice"></webobject></div>

	<div class="headingtitle"><webobject name="LPartPrinc"></webobject> :</div>
	<div class="detailbox"><webobject name="ValPartPrinc"></webobject></div>

	<div class="headingtitle"><webobject name="LManagementCenter"></webobject> :</div>
	<div class="detailbox"><webobject name="ValManagementCenter"></webobject></div>

	<div class="headingtitle"><webobject name="LObservations"></webobject> :</div>
	<div class="detailbox"><webobject name="ValObservations"></webobject></div>
	
	<div class="headingtitle"><webobject name="LAvenants"></webobject> :</div>
	<div class="detailbox">
		<webobject name="LoopAvenants">
			<h5><webobject name="AvenantObjet"></webobject></h5>
			<div class="smallheadingtitle"><webobject name="LDebFinExecution"></webobject> : </div>
			<div class="smalldetailbox"><webobject name="ValDebFinExecution"></webobject></div>
			
			<webobject name="HasPartMoraux">	
				<div class="smallheadingtitle"><webobject name="LPartenairesMoraux"></webobject> : </div>
				<div class="smalldetailbox"><webobject name="TablePartenairesMor"></webobject></div>
			</webobject>

			<webobject name="HasPartPhysiques">	
				<div class="smallheadingtitle"><webobject name="LPartenairesPhys"></webobject> : </div>
				<div class="smalldetailbox"><webobject name="TablePartenairesPhys"></webobject></div>
			</webobject>
			
		</webobject>
	</div>
	
</div>