<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fr">

<body>

<div class="authdiv">

<webobject name="IsError">
	<div class="error"><webobject name="TError"></webobject></div>
</webobject>

<WEBOBJECT NAME=Form1><fieldset class="fldset" style="border: 1px solid #2A3650; color: #0000; width: 300px;">
	<legend>Authentification</legend>
	<label for="login">Utilisateur :</label>
		<webobject name="TLogin"></webobject>
	<br/>
	<label for="passwd">Mot de passe :</label>
		<webobject name="TPassword"></webobject>
	<br/>
	<webobject name="BSubmit"></webobject>
</fieldset></WEBOBJECT>

</div>

</body>
</html>	